<h1>News</h1>
<h3>Headlines</h3>
<p>
Growing divide between Trump and McConnell over impeachment trial<br>
President Donald Trump and Senate Majority Leader Mitch McConnell are both looking ahead to the Senate impeachment trial, but there is a growing divide between the two over what that trial should look like, CNN has learned.
</p>
<p>
The USMCA is finally done. Here’s what is in it<br>
President Trump notched his first major win on trade Tuesday after Democrats signed off on a new trade deal with Canada and Mexico.
</p>